.TodosOsEventos {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  
}

.procurarEventoExpirado {
  
  width:300px;
}

.btn{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-color:grey;
  color:grey;

}
.btn:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  color:white;
  border-color:white;
}

